<h1>Products</h1>

<div class="form-group">
  <%= link_to 'New Product', new_admin_product_path, class: 'btn btn-primary' %>  
</div>
<div class="form-group">
  <%= form_tag '/admin/products', method: :get, class: 'form-inline' do %>
    <%= text_field_tag :q, params[:q], :class => "form-control", :placeholder => "e.g. search by serial number", style: "width: 500px;" %>
      <button class="btn btn-default" type="submit">
        Search <i class="glyphicon glyphicon-search"></i>
      </button>
  <% end %>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Model</th>
      <th>Type</th>
      <th>Number of Strings</th>
      <th>Serial Number</th>
      <th>Price</th>
      <th>Purchased Date</th>
      <th>Sold Date</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name,  [:admin, product] %></td>
        <td><%= product.brand %></td>
        <td><%= product.model %></td>
        <td><%= product.product_type %></td>
        <td><%= product.strings %></td>
        <td><%= product.serial_number %></td>
        <td><%= product.price.round(2) rescue nil %></td>
        <td><%= product.purchased_at.strftime("%Y-%m-%d") rescue nil %></td>
        <td><%= product.sold_at.strftime("%Y-%m-%d") rescue nil  %></td>
        <td>
          <%= link_to 'Edit', edit_admin_product_path(product), class: 'btn btn-default' %>
          <%= link_to 'Delete', [:admin, product], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @products %>


