<% if line_item.product.present? %>
<div class="columns align-items-center">
  <div class="column is-1">
    <strong>Quntity: <%= line_item.quantity %></strong>
  </div>
  <div class="column is-2">
    <figure class="is-128x128 image">
      <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
    </figure>
  </div>
  <div class="column is-9">
    <strong>Name: <%= line_item.product.name %></strong>
    <div class="columns align-items-center">
      <div class="content column is-4">
        <strong>Price: </strong><%= number_to_currency(line_item.product.price) %>
      </div>
      <div class="column is-4 has-text-right">
        <strong class="f4">Total Price: <%= number_to_currency(line_item.total_price) %></strong>
      </div>
    </div>
  </div>
</div>
<% end %>
<hr/>
<% if line_item.accessory.present? %>
<div class="columns align-items-center">
  <div class="column is-1">
    <strong>Quntity: <%= line_item.quantity %></strong>
  </div>
  <div class="column is-2">
    <figure class="is-128x128 image">
      <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
    </figure>
  </div>
  <div class="column is-9">
    <strong>Name: <%= line_item.accessory.name %></strong>
    <div class="columns align-items-center">
      <div class="content column is-4">
        <strong>Price: </strong><%= number_to_currency(line_item.accessory.price) %>
      </div>
      <div class="column is-4 has-text-right">
        <strong class="f4">Total Price: <%= number_to_currency(line_item.total_price) %></strong>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="has-text-right">
  <%= link_to 'Remove Item', line_item, method: :delete, data: { confirm: "Are you sure? " }, class: "button is-small mb4" %>
</div>

<hr/ >